.popup {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  background-color: rgba(0,0,0, 0.5);
}

.popup_inner {
  position: absolute;
  left: 25%;
  right: 25%;
  top: 25%;
  bottom: 25%;
  margin: auto;
  background: #60BDDB;
}

.Create-new-goal {
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  width: auto;
}

.Goal-var {
  width: auto;
}

.App2 {
  text-align: center;
}

.App2-header {
  background-color: #60BDDB;
  min-height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.Top-bar {
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}

.Redirect-buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  width: auto;
}

.Goals-grid {
  background-color: #60BDDB;
  height: 300px;
  display: grid;
  justify-content: space-around;
  align-items: center;
  grid-template-columns: 25% 25% 25%;
  grid-gap: 5%;
  color: white;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* BUTTON STYLING */

.Button-style {
  color: #494949 !important;
  font-family: 'Cabin';
  font-size: 16px;
  text-transform: uppercase;
  text-decoration: none;
  background: #ffffff;
  border: 4px solid #494949 !important;
  display: inline-block;
  transition: all 0.4s ease 0s;
}

.Button-style:hover {
  color: #ffffff !important;
  background: #f6b93b;
  border-color: #f6b93b !important;
  transition: all 0.4s ease 0s;
}

/* INPUT STYLING */

* { box-sizing:border-box; }

.group { 
  position:relative; 
  margin-bottom:30px; 
}

.Custom-input {
  font-family: 'Cabin';
  font-size:18px;
  padding:10px 10px 10px 5px;
  width:200px;
  height: 30px;
  border:none;
  border-bottom:1px solid #757575;
}

.Custom-input:focus { 
  outline:none; 
}

/* LABEL */
.Custom-label          {
  color:#999; 
  font-family: 'Cabin';
  font-size:18px;
  font-weight:normal;
  position:absolute;
  pointer-events:none;
  left:5px;
  top:10px;
  transition:0.2s ease all; 
  -moz-transition:0.2s ease all; 
  -webkit-transition:0.2s ease all;
}

/* active state */
.Custom-input:focus ~ .Custom-label, .Custom-input:valid ~ .Custom-label    {
  top:-20px;
  font-family: 'Cabin';
  font-size:14px;
  color:#5264AE;
}

/* BOTTOM BARS */
.Custom-bar  { 
  position:relative; 
  display:block; 
  width:200px; 
}

.Custom-bar:before, .Custom-bar:after   {
  content:'';
  height:2px; 
  width:0;
  bottom:1px; 
  position:absolute;
  background:#5264AE; 
  transition:0.2s ease all; 
  -moz-transition:0.2s ease all; 
  -webkit-transition:0.2s ease all;
}

.Custom-bar:before {
  left:50%;
}

.Custom-bar:after {
  right:50%; 
}

/* active state */
.Custom-input:focus ~ .Custom-bar:before, .Custom-input:focus ~ .Custom-bar:after {
  width:50%;
}

/* HIGHLIGHTER */
.Custom-highlight {
  position:absolute;
  height:60%; 
  width:100px; 
  top:25%; 
  left:0;
  pointer-events:none;
  opacity:0.5;
}

/* active state */
.Custom-input:focus ~ .Custom-highlight {
  -webkit-animation:inputHighlighter 0.3s ease;
  -moz-animation:inputHighlighter 0.3s ease;
  animation:inputHighlighter 0.3s ease;
}

/* ANIMATIONS */
@-webkit-keyframes inputHighlighter {
  from { background:#5264AE; }
  to  { width:0; background:transparent; }
}
@-moz-keyframes inputHighlighter {
  from { background:#5264AE; }
  to  { width:0; background:transparent; }
}
@keyframes inputHighlighter {
  from { background:#5264AE; }
  to  { width:0; background:transparent; }
}