@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

.goal {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background-color: blue;
  height: 100px;
}

.goal-title {
  font-family: 'Open Sans';
  text-align: center;
}

.goal-identifiers {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  color: white;
  font-size: 12px;
}

