@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

.goal {
  height: 100px;
  border-radius: 25px;
  background: rgb(5,93,177);
  background: radial-gradient(circle, rgba(5,93,177,1) 85%, rgba(0,212,255,1) 95%, rgba(255,255,255,1) 98%);
  background-color: blue;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.goal-title {
  font-family: 'Open Sans';
  text-align: center;
}

.goal-identifiers {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  color: white;
  font-size: 12px;
}

